{{#if isNotFirst}}
    <a href="{{previousSlidePath}}">Previous slide</a>
{{/if}}

{{#if isNotLast}}
    <a href="{{nextSlidePath}}">Next slide</a>
{{/if}}
<br/>

<img src='{{url}}'>
<br/>
<a href='{{presentationsPath}}'>Presentations</a>
